{% extends 'base.html.twig' %}

{% block title %}Libro de Conferencias - {{ conference }}{% endblock %}

{% block body %}
    <h2>Conferencia: {{ conference }}</h2>
    {% if comments|length > 0 %}
        {% if comments|length == 1 %}
            <div>Hay {{ comments|length }} comentario</div>
        {% else %}
            <div>Hay {{ comments|length }} comentarios</div>
        {% endif %}
        {% for comment in comments %}
            {% if comment.photoFilename %}
                <img src="{{ asset('uploads/photos/' ~ comment.photoFilename) }}" alt="Imagen de comentario"/>
            {% endif %}
            <h4>{{ comment.author }}</h4>
            <small>
                {{ comment.createdAt|format_datetime('medium', 'short') }}
            </small>
            <p>{{ comment.text }}</p>
        {% endfor %}
        {% if previous >=0 %}
            <a href="{{ path('conference', { slug: conference.slug, offset:previous }) }}">Anterior</a>
        {% endif %}
        {% if next < comments|length %}
            <a href="{{ path('conference', { slug: conference.slug, offset: next }) }}">Siguiente</a>
        {% endif %}
    {% else %}
        <div>No existen comentarios para esta conferencia.</div>
    {% endif %}

    <h2>Añade un nuevo comentario</h2>
    {{ form(comment_form) }}
{% endblock %}
